:root {
    --brand-color: #3C95FD;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: Raleway;
}

h2 {
    color: #9e9e9e;
    font-weight: 300 !important;
}

::placeholder {
    color: #888;
}

.form-btn {
    width: fit-content;
    border-radius: 5rem;
    font-weight: 700;
    display: block;
    text-align: center;
    padding: .625rem .875rem .75rem;
    background-color: var(--brand-color);
    color: #fff;
    border: 0.1250rem solid #ebebeb;
    margin: 0;
}

.form-btn:hover {
    background-color: #fff;
    color: var(--brand-color);
    border: 0.125rem solid var(--brand-color);
}